*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}

.skill-card{
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.4s;
}

.skill-card:hover{
    transform:translateY(-10px);
}

.skill-card h3{
    font-size:30px;
    margin-bottom:20px;
}

.skill-card p{
    font-size:18px;
    line-height:35px;
    color:#756457;
}

.project-card{
    background:#f8f4ef;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-10px);
}

html{
    scroll-behavior:smooth;
}